<% content_for :title, "Welcome" %>

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <h1 class="text-4xl font-bold text-gray-800">Welcome to Rails Todo App</h1>
  <p class="mt-2 text-lg text-gray-600">Manage your tasks efficiently with our simple todo application.</p>

  <div class="mt-8">
    <%= link_to "Get Started", "#", class: "px-6 py-3 font-semibold text-white bg-blue-500 rounded-lg hover:bg-blue-600" %>
    <%= link_to "Learn More", "#", class: "px-6 py-3 ml-4 font-semibold text-gray-700 bg-gray-200 rounded-lg hover:bg-gray-300" %>
  </div>
</div>