<div class="form-container">
  <h1>Edit Todo</h1>
  
  <%= render 'form', todo: @todo %>
  
  <div class="form-actions">
    <%= link_to 'Show', @todo, class: "btn btn-secondary" %>
    <%= link_to 'Back to Todos', todos_path, class: "btn btn-secondary" %>
  </div>
</div>